@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: "https://i.postimg.cc/jqhPSwrt/Frame-2-2.png";
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}