@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: "https://i.postimg.cc/9Fp4bJVr/pexels-anni-roenkae-3219951.jpg";
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}